*{margin: 0;padding: 0;}
#wrap{width: 100%;height: 100%;}
.background{width: 648px;height: 818px;background:url('../images/bg_stadium.png');margin: 0 auto;position: relative;
}
.top{position: absolute;top: 15px;left: 70px;color: white;font-weight: bold;}
.bottom{position: absolute;top: 782px;left: 70px;color: white;font-weight: bold;}
.home{left: 595px;}
.bottom.home{left: 570px;}

ul{width: 100%;height: 50%;}
.men{width: 55px;height: 70px;position: absolute;list-style: none;text-align: center;color: white;font-size: 10px;}
.men > div{width: 55px;height: 55px;border-radius: 100%;border: 1px solid white;text-align: center;line-height: 55px;
color: white;font-weight: bold;font-size: 20px;}
.red div{background: #d13946;}
.black div{background: #444444;}
.tri{width: 17px;height: 15px;position: absolute;bottom: 15px;right: -5px;}
.ball{width: 18px;height: 18px;position: absolute;bottom: 15px;left: -5px;}
.yc{width: 15px;height: 25px;position: absolute;top: 0px;left: -5px;border-radius: 3px;}

.red > .men:nth-child(1){left: 294px;top: 60px;}
.red > .men:nth-child(2){left: 100px;top: 147px;}
.red > .men:nth-child(3){left: 294px;top: 147px;}
.red > .men:nth-child(4){left: 488px;top: 147px;}
.red > .men:nth-child(5){left: 62px;top: 233px;}
.red > .men:nth-child(6){left: 225px;top: 233px;}
.red > .men:nth-child(7){left: 386px;top: 233px;}
.red > .men:nth-child(8){left: 548px;top: 233px;}
.red > .men:nth-child(9){left: 100px;top: 318px;}
.red > .men:nth-child(10){left: 294px;top: 318px;}
.red > .men:nth-child(11){left: 488px;top: 318px;}

.black > .men:nth-child(1){left: 100px;top: 433px;}
.black > .men:nth-child(2){left: 294px;top: 433px;}
.black > .men:nth-child(3){left: 488px;top: 433px;}
.black > .men:nth-child(4){left: 62px;top: 520px;}
.black > .men:nth-child(5){left: 225px;top: 520px;}
.black > .men:nth-child(6){left: 386px;top: 520px;}
.black > .men:nth-child(7){left: 548px;top: 520px;}
.black > .men:nth-child(8){left: 100px;top: 605px;}
.black > .men:nth-child(9){left: 294px;top: 605px;}
.black > .men:nth-child(10){left: 488px;top: 605px;}
.black > .men:nth-child(11){left: 294px;top: 690px;}
