*{margin: 0;padding: 0;}
html,body{width: 100%;height: auto;}
body{background: rgb(238, 238, 238);}
header *{box-sizing: border-box;}
#wrap{width: 1000px;height: auto;margin: 0 auto;background: rgb(255, 255, 255);}

.tc{text-align: center;}
.tr{text-align: right;}
.tl{text-align: left;}
.fl{float: left;}
.fr{float: right;}

li{list-style: none;}

header{width: 100%;height: auto;}
#headwrap{width: inherit;height: auto;padding: 20px 0 0 20px;box-sizing: border-box;}
.logo{margin: 0 200px 40px 0;float: left;}
.topmenu{width: 180px;height: 30px;float: right;border-top: 1px solid rgb(207, 207, 207);
border-bottom: 1px solid rgb(207, 207, 207);}
.topmenu > li{width: 50%;height: inherit;float: left;line-height: 30px;
}
.topmenu> li:hover{background: rgb(251, 239, 239);border-bottom: 2px solid rgb(112, 98, 76);}
.botmenu{width: 100%;height: 60px;line-height: 60px;clear: both;border-top: 1px solid rgb(48, 48, 48);
position: relative;}
.botmenu > li{width: 12.5%;height: 60px;float: left;}
.botmenu > li> ul{height: 0;width: 100%;background: rgb(222, 245, 251);
overflow: hidden;z-index: 12;position: relative;}
.botmenu > li:hover > ul{height: auto;}
.botmenu > li:hover > ul > li{height: 30px;}
.botmenu > li > ul > li{line-height: 30px;font-size: 14px;}

#slider{width: 100%;height: 600px;position: relative;overflow: hidden;}
.slider{width: 100%;height: 600px;position: absolute;left: 100%;}
#slider > img:first-child{left: 0;}
.blackout{position: absolute;width: 30%;height: auto;background: rgba(0, 0, 0, 0.4);padding: 30px;box-sizing: border-box;
left: 70%;top: 80px;}
.slide_text{color: white;font-size: 36px;float: left;}
.sdhs{color: yellow;font-size: 45px;font-weight: bold;}

.content{width: 700px;height: auto;float: left;}
.content > div{margin: 5px;border: 1px solid rgb(182, 177, 177);float: left;}

#notice{width: 688px;height: 200px;background: white;}
.ntc{width: 100%;height: 50px;border-bottom: 1px solid rgb(206, 207, 215);}
.ntc > h3{width: 100px;height: 50px;text-align: center;line-height: 50px;margin-right: 40px;cursor: pointer;}
.more{font-size: 14px;text-decoration: underline;}
.selntc{color: rgb(52, 109, 219);}
.ntcl{width: 100%;height: 28px;line-height: 28px;padding: 0 30px 0 20px;box-sizing: border-box;}
.ntdate{font-size: 14px;color: rgb(129, 129, 129);}
.paper{display: none;}

#popslide{width: 288px;height: 400px;float: left;margin: 5px;border: 1px solid rgb(182, 177, 177);}
#popslide > img{width: inherit;height: inherit;position: absolute;display: none;}
#popslide > img:first-child{display: block;}

#calendar{width: 338px;height: 188px;box-sizing: border-box;}
.clbt{line-height: 168px;font-size: 40px;cursor: pointer;color: rgb(40, 38, 28)}
.day{width: 76%;height: 100%;line-height:60px;}
#calendar h1{font-size: 60px;color: rgb(0, 125, 157);}


#lunch{width: 338px;height: 188px;padding: 10px;box-sizing: border-box;background: #d4f1fc;}
#lunch > img{width: 60%;border: 2px solid rgb(228, 177, 110);}

footer{width: 100%;height: 150px;clear: both;background: rgb(223, 223, 223);}
#footwrap{width: 1000px;height: inherit;margin: 0 auto;padding: 20px;box-sizing: border-box;}
#footwrap > img{margin: 0 20px 70px 0;float: left;width: 240px;height: 40px;}
.copyright{width: 500px;height: 30px;line-height: 30px;font-size: 12px;background: white;float: left;
padding-left: 10px;box-sizing: border-box;font-weight: bold;}
.ssl{width: 200px;height: 30px;float: left;margin-top: 10px;}
.copyright > span:first-child{color: red;}
.cpr{font-size: 13px;color:rgb(164, 153, 153);line-height: 24px;padding-right: 30px;}
.cpr > span{color: rgb(103, 103, 103);}

#nav{}
